<nav class="navbar navbar-expand-lg navbar-light shadow mb-2 rounded">
    <a class="navbar-brand logo-title" href="{% url 'home' %}" style="font-size: 1.6rem;">Best Delicious</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
    {% if user.is_authenticated %}
     <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">{{ user.username }}</a>
          </li>
        </ul>
        <a class="mr-2" href="{% url 'dish-create' %}" style="font-size: 1.6rem; color: black;"><i class="fas fa-file-signature"></i></a>
        <a href="{% url 'logout' %}" style="font-size: 1.6rem; color: black;"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    {% else %}
    <div>
        <a href="#" class="openSigninModal" style="font-size: 1.6rem; color: black;"><i class="fas fa-sign-in-alt"></i></a>
    </div>
    {% endif %}
</nav>
