{% extends "recipes_app/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        {% for dish in object_list  %}

        <div class="col-md-4 mb-4">
            <a href="{% url 'dish-details' dish_pk=dish.pk %}">
                <div class="card">
                    {% if dish.image %}
                    <img src="{{ dish.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-header">{{dish.name}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{dish.description}}</p>
                    </div>
                    <div class="card-footer text-muted">{{dish.author.username}}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
