{% extends "recipes_app/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="{% url 'dish-details' category_pk=1 dish_pk=1 %}">
                <div class="card">
                    <img src="https://via.placeholder.com/150x100" class="card-img-top" alt="...">
                    <div class="card-header">
                        Название блюда
                    </div>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis facere, voluptas. Asperiores odio similique, nulla obcaecati ducimus sed nesciunt cumque, blanditiis reiciendis tempore temporibus tenetur cum quas vitae, nobis alias.</p>
                    </div>
                    <div class="card-footer text-muted">
                        Author
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
