{% extends "recipes_app/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-top-image" {% if object.image %}style="background-image: url({{ object.image.url }});"{% endif %}></div>
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected>Описание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#pills-ingredients" role="tab" aria-controls="pills-ingredients">Ингридиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#pills-cooking" role="tab" aria-controls="pills-cooking">Способ приготовления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#pills-update" role="tab" aria-controls="pills-update">Изменить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link remove-item" href="#!">Удалить</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                    <h5>{{ object.name }}</h5>
                    <p>{{ object.description|safe }}</p>
                </div>
                <div class="tab-pane fade" id="pills-ingredients" role="tabpanel" aria-labelledby="pills-ingredients-tab">
                    <ul class="list-group">
                        {% for ingredient in object.ingredients %}
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                {{ ingredient.name }}
                                <span class="text-dark badge badge-pill bg-warning">{{ ingredient.qty }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="pills-cooking" role="tabpanel" aria-labelledby="pills-cooking-tab">
                    <p>{{ object.cooking_method|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_body %}
    <script src="{% static "js/dish_details.js" %}"></script>
{% endblock extra_body %}
