{% extends "recipes_app/base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mt-3">

<div class="row">

    {% for category in object_list %}
    <div class="col-md-3">
        <div class="card shadow mb-4">
            <a href="{% url 'category-details' pk=category.pk %}" class="card-link">
                <div class="image-card" {% if category.image %}style="background-image: url({{ category.image.url }});"{% endif %}></div>
                <div class="card-footer bg-dark">
                    <h6 class="text-center text-white font-weight-bold m-0 text-uppercase">{{ category.name }}</h6>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}

</div>

</div>


{% endblock content %}
